$dark: #333232;

.user-name {
  text-align: center;
  margin-top: 10vh;
}

.profile-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: auto;
  background-color: $dark;
}

.underline {
  border-bottom: 1px solid black;
  text-align: right;
  font-size: 2.5rem;
}

.contactInfo {
  border-bottom: 1px solid black;
  p {
    margin-top: 25px;
    margin-bottom: 0;
  }
}

.container {
  margin-bottom: 10rem;
}