<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Register</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../../styles/css/skeleton.css">
		<link rel="stylesheet" href="../../../styles/css/register.css">

	</head>
	<body>

			<a href="/"><i class="fa fa-arrow-left" id="back"></i></a>
				
			<div id="social-register">
				<a href="/api/"><img id="facebook-sigin" src="http://i.stack.imgur.com/pZzc4.png" alt="facebook signin"></a>
				<p> - or - </p>
			</div>


			<form id="register-form" action="/api/profile/login" method="post">

				<div class="six columns" id="first-name-div">
					<label for="first-name">First Name</label>
					<input id="first-name" name="first-name" type="text" placeholder="first name please">
				</div>

				<div class="six columns" id="last-name-div">
					<label for="last-name">Last Name</label>
					<input id="last-name" name="last-name" type="text" placeholder="last name please">	
				</div>

				<div class="twelve columns">
					<label for="email">Email Address</label>
					<input id="email" name="email" type="email" placeholder="email address goes here">	
				</div>

				<div class="twelve columns">
					<label for="password">Password</label>
					<input id="password" type="password" placeholder="••••••••••">
				</div>

				<div class="twelve columns">
					<input id="register" type="submit" value="Register">
					<a href="/"><input id="cancel" type="button" value="Cancel"></a><br>

					Already a member? Login <a href="/api/profile/login">here</a>
				</div>

			</form>

	</body>
</html>

