<!DOCTYPE html>
<html ng-app="petApp">
  <head>
    <meta charset="utf-8">
    <title>Pet Store</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../styles/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="../styles/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.7/angular-css.min.js"></script>
    <link rel="stylesheet" ng-href="{{ css }}">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
        <a href="/">Current Pets</a>
    </nav>
    <div ng-view>
        <!-- partials load here -->
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/petsController.js"></script>
  </body>
</html>
