<div class="container">
  <div class="row">
    <div class="four offset-by-four columns">
      <!-- Vet image -->
      <h1>Your Vet:</h1>
      <p>Vet Name</p>
      <p>Vet Street Address</p>
      <p>Vet city, Vet State, Vet zipcode</p>
    </div>
  </div>
  <div class="row">
    <div class="six offset-by-three columns underline">
      <a href="">+</a>
    </div>
  </div>
  <div class="row">
    <div class="one offset-by-three columns">
      <a href=""><i class="fa fa-pencil"></i></a>
    </div>
    <div class="five columns">
      <p>Pet name: Last vet visit</p>
    </div>
  </div>
  <div class="row">
    <div class="one offset-by-three columns">
      <a href=""><i class="fa fa-pencil"></i></a>
    </div>
    <div class="five columns">
      <p>Pet name: Other update</p>
    </div>
  </div>
  <div class="row">
    <div class="one offset-by-three columns">
      <a href=""><i class="fa fa-pencil"></i></a>
    </div>
    <div class="five columns">
      <p>Pet name: Other update</p>
    </div>
  </div>
</div>