<div class="container">
  <div class="row">
    <div class="four columns centered">
      <h1>Your name</h1>
    </div>
  </div>
  <div class="row">
    <div class="four columns centered">
      <!-- user image -->
      <img src="">
    </div>
  </div>
  <div class="row">
    <div class="six columns centered underline">
      <i class="fa fa-pencil"></i>
    </div>
  </div>
  <div class="row">
    <div class="four columns centered">
      <p>Name: </p>
      <p>Phone Number: </p>
      <p>Email: </p>
      <p>Address: </p>
    </div>
  </div>
</div>