<!DOCTYPE html>
<html ng-app="petApp">
  <head>
    <meta charset="utf-8">
    <title>Pet Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.7/angular-css.min.js"></script>
    <link rel="stylesheet" ng-href="{{ css }}">
  </head>
  <body ng-controller="LoginCtrl">
    <nav class="main-nav">
        <a class="left-align" href="/#/profile/{{user.id}}"><img src="{{user.pic}}"></a>
        <a class="left-align" href="/#/profile/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
        <a class="right-align" ng-click="logout()">Logout</a>
        <a class="right-align" href="/#/{{user.id}}/reminders"><i class="fa fa-bell-o"></i></a>
        <a class="right-align" href="/#/vetvisit/{{user.id}}/new">+ Vet Visit</a>
        <a class="right-align" href="/#/{{user.id}}/pets/new">+ Pet</a>
        <a class="right-align" href="/#/profile/{{user.id}}"><i class="fa fa-tachometer"></i></a>
    </nav>
    <div ng-view>
        <!-- views load here -->
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/app/app.js"></script>
    <!-- <script type="text/javascript" src="/app/controllers/mainController.js"></script> -->
    <script type="text/javascript" src="/app/controllers/userController.js"></script>
    <script type="text/javascript" src="/app/factories/petFactory.js"></script>
    <script type="text/javascript" src="/app/factories/userFactory.js"></script>
    <script type="text/javascript" src="/app/controllers/petController.js"></script>
    <script type="text/javascript" src="/app/controllers/vetVisitController.js"></script>
    <script type="text/javascript" src="/app/controllers/loginController.js"></script>

  </body>
</html>
