<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Home</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../styles/css/skeleton.css">
		<link rel="stylesheet" href="../../styles/css/landing-page.css">

	</head>
	<body>

			<div class="row">
				<div class="twelve columns">
					<div id="app-hero">
						<a id="login" href="/api/profile/login">Login</a>
						<a id="signup" href="/api/profile/new">SignUp</a>		
							<p>When was the last time you brought <br> your pet in for a checkup?</p>
					</div> 
				</div>
			</div>

	<div class="container">

			<div class="row">
				<div class="twelve columns">
					<div id="app-explaination">
						<p>You've got lot's to remember. We get it. <br> Is your dog going to tell you <br> when it is time for his next vaccination?</p>
						<h4>That's where we come in.</h4>
					</div> 
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="twelve columns" id="features">
					
					<div id="reminders">
						<h5>Reminders <i class="fa fa-clock-o"></i></h5>
						<ul>
							<li>Next appointment</li>
							<li>Next vaccination</li>
							<li>More food</li>
							<li>Grooming appointments</li>
						</ul>
					</div>

					<div id="pet-stats">
						<h5>Pet Stats <i class="fa fa-tachometer"></i></h5>
						<ul>
							<li>Easy sharing at the vet, trainer, and/or doggy daycare.</li>
							<li>Pet's favorite food</li>
							<li>Pet's health records i.e. height, weight, age...</li>
						</ul>
					</div>

					<div id="worried">
						<h5>Worries <i class="fa fa-pencil"></i></h5>
						<ul>
							<li>Take notes of your pet's odd behaviour, illnesses, and/or injuries</li>
							<li>Easily share those concerns with your vet and/or pet doggy daycare.</li>
							<li></li>
						</ul>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="twelve columns" id="app-tour">
					<a class="button" href="/api/tour">Take a Tour</a>
				</div>
			</div>
	
		</div> <!-- end div.container -->

	</body>
</html>











