
			<div id="app-hero">
			<a id="login" href="/#/login">Login</a>
			<a id="signup" href="/#/profile/new">SignUp</a>
				<p>When was the last time you brought <br> your pet in for a checkup?</p>
			</div>
			<div class="conversation-starter">
			<div class="row">
				<div class="twelve columns">
					<div id="app-explaination">
						<p class="conversation">You've got a lot to remember. We get it. <br> But...when was the last time your<br> dog told you it was time for a vaccination?</p>
						<h3 class="call-to-action">That's where we come in.</h3>
					</div>
				</div>
			</div>
			</div>
		<div class="container">
			<div class="row">
				<div class="twelve columns site-info" id="features">

					<div class="four columns" id="reminders">
						<h5>Reminders <i class="fa fa-clock-o"></i></h5>
						<ul>
							<li>Next appointment</li>
							<li>Next vaccination</li>
							<li>More food</li>
							<li>Grooming appointments</li>
						</ul>
					</div>

					<div class="four columns" id="pet-stats">
						<h5>Pet Stats <i class="fa fa-tachometer"></i></h5>
						<ul>
							<li>Easy sharing at the vet, trainer, and/or doggy daycare.</li>
							<li>Pet's favorite food</li>
							<li>Pet's health records i.e. height, weight, age...</li>
						</ul>
					</div>

					<div class="four columns" id="worried">
						<h5>Worries <i class="fa fa-pencil"></i></h5>
						<ul>
							<li>Take notes of your pet's odd behaviour, illnesses, and/or injuries</li>
							<li>Easily share those concerns with your vet and/or pet doggy daycare.</li>
							<li></li>
						</ul>
					</div>

			</div>
			<div class="four offset-by-four columns"><button class="signup-button" href="/#/profile/new">Try it Out!</button></div>

		</div> <!-- end div.container -->








