<h1 class="vet_form_header">Update Reminder</h1>
<div class="container">
  <div class="six offset-by-three columns">
    <form id="reminder-update" ng-submit="updateReminder()">
      <label for="reminder">What do you need to remember?</label>
      <input required id="reminder" type="text" placeholder="EX vaccination expiring, schedule next vet appointment" ng-model="reminderFormData.description" ng-value="{{reminder.description}}">
      <label for="date">Date</label>
      <input required id="date" name="date" type="date" ng-model="reminderFormData.date" ng-value="{{reminder.date}}">
      <label for="petName">Which Pet?</label>
      <select id="petName" name="pet-type" ng-model="reminderFormData.pet_id">
        <div ng-repeat="pet in pets">
          <option ng-value="{{pet.id}}">{{pet.name}}</option>
        </div>
      <select>
    </form>
    <a target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text=New+Reminder&dates=20140127T224000Z/20140320T221500Z&details=What+do+you+need+to+remember?&location=anywhere&sf=true&output=xml">Add to google calendar</a>
    <input id="submitReminder" type="submit" value="Add Reminder">
  </div>
</div>

