  <div class="container">
    <div class="row">
      <div class="four offset-by-four columns">
        <h1 class="user-name">{{user.firstName}} {{user.lastName}}</h1>
        <div class="profile-image"><img ng-src="{{user.owner_image}}" alt="" /></div>
      </div>

    </div>
    <div class="row">
      <div class="six offset-by-three columns underline">
        <a href="/#/profile/user/{{user.id}}/edit"><i class="fa fa-pencil"></i></a>
      </div>
    </div>
    <div class="four offset-by-four columns contactInfo">
      <p>Name: {{user.firstName}}</p>
    </div>
    <div class="four offset-by-four columns contactInfo">
      <p>Phone Number: {{user.phone}}</p>
    </div>
    <div class="four offset-by-four columns contactInfo">
      <p>Email: {{user.email}}</p>
    </div>
    <div class="four offset-by-four columns contactInfo">
      <p>Address: {{user.street_address}}</p>
    </div>
    <div class="four offset-by-four columns contactInfo">
      <p> </p>
    </div>
  </div>
