$purple: #593A6A;
$dark: #333232;
$darken-dark: darken($dark, 20%);

body {
  text-align: center; }

.dashGreeting {
  margin-top: 10vh; }

.pet-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #333232;
  margin: auto;
  margin-bottom: 2.5rem; }

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
}

.dash-greeting2 {
  font-size: 2rem;
  padding-bottom: 10vh;
}

.single-pet {
  margin: 5px;
  color: $dark;
}

.pet-header {
  color: $darken-dark;
  font-weight: 600;
}

.each-pet {
  padding-bottom: 7vh;
}

a:link {
    text-decoration: none;
  }