$color: #508CA4;
$dark: #333232;
$darkColor: darken($color, 10%);

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.main-nav {
  background-color: $darkColor;
  height: 7rem;
  width: 100%;
  margin-top: 0;

  a {
    color: white;
    padding: 20px;
    font-size: 1.75rem;
    text-decoration: none;
  }
}

.prof-div {
  padding-top: 0;
  width: 5rem;
  .user-pic {
    width: 100%;
  }
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

.right-align {
  float: right;
}

.left-align {
  float: left;
}

.single-pet-nav {
  background-color: $dark;
  text-align: center;
  height: 3rem;

  a {
    text-decoration: none;
    color: white;
    padding: 50px;
  }
}

.call-to-action {
  font-size: 7rem;
  font-weight: 500;
}
.conversation-starter {
  background-color: $color;
}
