$dark: #333232;
$light-dark: lighten($dark, 10%);
$purple: #593A6A;
$light-purple: lighten($purple, 10%);


img {
    width: 100%;
}

.tab-display {
  display: block;
}
.pet-overview {
  display: block;
}
.tabs {
  position: relative;
  min-height: 300px; /* This part sucks */
  clear: both;
  margin: 25px 0;
  overflow: scroll;
}
.tab {
  float: left;
}
.tab label {
  background: $dark;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  border: 1px solid $dark;
  color: white;
  margin-left: -1px;
  position: relative;
  left: 1px;

  &:hover {
    cursor: pointer;
  }
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: $light-dark;
  color: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid $light-dark;
  height: 100%;
}
[type=radio]:checked ~ label {
  background: $light-dark;
  border: 1px $light-dark;
  color: white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
.pet-image {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}
.general-info {
  padding: 1rem;
  border: 1px solid black;
}
.pet-info {
  padding: 10vh 0;
}
.edit-pet {
  float: right;
  font-size: 2.5rem;
}
.top-info {
  margin: 0;
  font-size: 2rem;
  padding: 3px;
}
.top-info-bold {
  font-weight: 700;
}