$blue: #508CA4;
$dark: #333232;

.vet-visit {
  text-align: center;
  margin-top: 10vh;
}

.add {
  margin-left: 70%;
}

.summary {
  background-color: $blue;
  color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.expand {
  float: right;
  margin-top: 0;
  font-size: 3rem;
}

.leftFloat {
  float: left;
}