<nav class="single-pet-nav">
  <a href="">General Pet Information</a>
  <a href="">Vet Visits</a>
</nav>
<div class="container pet-overview">
  <div class="row">
    <div class="four columns">
      <!-- pet image -->
      <img src="">
    </div>
    <div class="eight columns">
      <p>Pet Name</p>
      <p>Nick Names</p>
      <p>Type</p>
      <p>Age</p>
    </div>
  </div>
  <div class="row">
  <div class="eight offset-by-two-columns">
    <div class="tabs">
      <div class="tab">
        <input type="radio" id="tab-1" name="tab-group-1" checked>
        <label for="tab-1">Health</label>
        <div class="content">
             <p>Weight: </p>
             <p>Allergies: </p>
             <p>Breed: </p>
             <p>Illnesses: </p>
             <p>Last Vet Visit: </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="tab-2" name="tab-group-1">
        <label for="tab-2">About</label>
        <div class="content">
          <p>Likes: </p>
          <p>Does not like: </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="tab-3" name="tab-group-1">
        <label for="tab-3">Products</label>
        <div class="content">
          <p>Pet Food: </p>
         </div>
     </div>
     <div class="tab">
        <input type="radio" id="tab-4" name="tab-group-1">
        <label for="tab-4">Notes</label>
        <div class="content">
        </div>
     </div>
    </div>
  </div>
</div>