  <div class="container">
    <div class="row">
      <div class="four offset-by-four columns">
        <h1 class="user-name">Your Name</h1>
        <div class="profile-image"></div>
      </div>

    </div>
    <div class="row">
      <div class="six offset-by-three columns underline">
        <a href=""><i class="fa fa-pencil"></i></a>
      </div>
    </div>
    <div class="four offset-by-four columns contactInfo">
      <p>Name: </p>
    </div>
    <div class="four offset-by-four columns contactInfo">
      <p>Phone Number: </p>
    </div>
    <div class="four offset-by-four columns contactInfo">
      <p>Email: </p>
    </div>
    <div class="four offset-by-four columns contactInfo">
      <p>Address: </p>
    </div>
    <div class="four offset-by-four columns contactInfo">
      <p> </p>
    </div>
  </div>