body {
  background-color: #508CA4;
  font-family: sans-serif; }

input {
  background-color: #6ea3b9;
  border: none;
  height: 3rem;
  width: 100%;
  margin: 5px;
  font-size: 1.5rem; }

.group {
  width: 30%;
  margin: auto; }

label {
  font-size: 1.5rem; }

.count {
  text-align: center; }

#btnSubmit {
  display: none; }

button {
  border: none;
  background-color: #3f6f82;
  color: white;
  padding: 10px;
  font-size: 1rem;
  display: block;
  width: 10%;
  margin: auto; }
  button:hover {
    cursor: pointer; }
