html {
	font-size: 16px;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}


ul {
	list-style: none;
}
a {
	text-decoration: none;
}

#login-signup a {
	color: black;
	float: right;
	font-size: 1rem;
	margin-right: 0.5rem;
}

#login,
#signup {
	color: orange;
	font-size: 1rem;
	margin-right: 0.5rem;
	position: fixed;
	right: 0;
}

#signup {
	right: 3rem;
}

#login:hover,
#signup:hover {
	color: lightgreen;
}

div#app-hero { 
  background: url("https://images.unsplash.com/photo-1433162653888-a571db5ccccf?crop=entropy&amp;dpr=2&amp;fit=crop&amp;fm=jpg&amp;h=475&amp;ixjsv=2.1.0&amp;ixlib=rb-0.3.5&amp;q=50&amp;w=1100") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 60vh;
  text-align: center;
}

div#app-hero p {
	color: white;
	font-size: 3rem;
	margin: auto;
	text-align: center;
}

div#app-explaination {
	color: black;
	font-size: 2rem;
	text-align: center;
}

div#app-explaination p {
	font-size: 1.5rem;
	margin: 1rem 0;
}

div#app-explaination h4 {
	margin-bottom: -1rem;
}

div#features {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

div#features h5 {
	text-align: center;
}

div#features div {
	color: black;
	flex: 1;
	max-width: 33%;
}

div#app-tour {
	text-align: center;
}





