a {
	text-decoration: none;
}

#back {
	color: black;
	position: fixed;
}

#login-form {
	border: 1px solid black;
	margin: 20vh auto;
	width: 450px;
	padding: 1rem;
	padding-bottom: 0;
	padding-right: 0;
    height: 25rem;
}

#login-form img {
	border-radius: 4px;
	width: 40%;
}

#login-form #email,
#login-form #password {
	width: 90%;
}

#login-form #login,
#login-form #cancel {
	width: 25%;
}