a {
	text-decoration: none;
}

#back {
	color: black;
	position: fixed;
}

#login-form {
	border: 1px solid black;
	height: 34rem;
	margin: 20vh auto;
	overflow: scroll;
	padding: 1.5rem;
	padding-bottom: 0;
	width: 450px;
}

#login-form img {
	border-radius: 4px;
	margin-top: 3rem;
	margin-bottom: 2rem;
	width: 47.5%;
}

#login-form p {
	margin-bottom: 0;
}

#login-form #email,
#login-form #password {
	width: 100%;
}

#login-form #login,
#login-form #cancel {
	width: 25%;
}

#password-div {
	margin: 0;
}