a {
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#back {
	color: black;
	position: fixed;
}

#social-register {
	text-align: center;
}

#social-register img{
	border-radius: 4px;
	margin: 0 auto;
	width: 20%;
}

#social-register p {
	margin-bottom: 0.5rem;
}

#register-form {
	border: 1px solid black;
  height: 50rem;
	margin: 20vh auto;
	overflow: scroll;
	width: 450px;
	padding: 1rem;
	padding-bottom: 0;
	padding-right: 0;
	position: relative;
}

#register-form img {
	border-radius: 4px;
	margin-top: 3rem;
	margin-bottom: 2rem;
	width: 47.5%;
}

#email, #password,
#first-name, #last-name {
	width: 95%;
}

#register-form p {
	display: inline-block;
	text-align: center;
}

#first-name-div,
#last-name-div {
	margin-left: 0;
}



