html {
	font-size: 16px;
}

a {
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#back {
	color: black;
	position: fixed;
}

#reminders-form {
	border: 1px solid black;
	margin: auto;
	width: 450px;
	padding: 1rem;
	padding-bottom: 0;
}


#description {
	max-width: 95%;
	width: 95%;
}

#date-div {
	margin-left: 0;
}
