a {
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#back {
	color: black;
	position: fixed;
}

#owner-form {
	border: 1px solid black;
	margin: auto;
	width: 450px;
	padding: 1rem;
	padding-bottom: 0;
	padding-right: 0;
}

#email, #password,
#first-name, #last-name,
#street_address, #city,
#state, #zipcode, #phone,
#vet_name, #vet_image, #vet_email,
#vet_street, #vet_city,
#vet_state, #vet_zip, #vet_phone {
	width: 95%;
}

#first-name-div,
#last-name-div,
#city-div, #state-div,
#vet-city-div, #vet-state-div{
	margin-left: 0;
}

