a {
	text-decoration: none;
}

h1 {
	text-align: center;
	margin-top: 10vh;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#back {
	color: black;
	position: fixed;
}

#pet-form {
	border: 1px solid black;
	margin: auto;
	width: 450px;
	padding: 1rem;
	padding-bottom: 0;
	padding-right: 0;
	height: 85rem;
	margin-bottom: 20vh;
}

#delete {
	background-color: red;
	color: white;
}

input{
	width: 95%;
}

#allergy-div, #weight-div,
#last_vet_visit-div,
#illnesses-div,
#breed-div, #type-div {
	margin-left: 0;
}


