.vet-visit {
  text-align: center;
  margin-top: 10vh; }

.add {
  margin-left: 70%; }

.summary {
  background-color: #508CA4;
  color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px; }

.expand {
  float: right;
  margin-top: 0;
  font-size: 3rem; }

.visit-title {
  font-weight: 500;
  font-size: 1.75rem;
  text-decoration: underline;
  padding-right: 2rem; }

.details {
  padding-left: 25px; }
