<form id="myForm" ng-submit="newPet()">
    <div class="group">
        <label for="petPicture">Upload a picture of your pet!</label>
        <input type="file" id="petPicture" name="petImage" ng-model="petFormData.picture_url"/>
    </div>
    <div class="group">
        <label for="petName">What's your pet's name?</label>
        <input required type="text" id="petName" name="petName" ng-model="petFormData.name"/>
    </div>
    <div class="group">
        <label required for="petType">What type of animal is your pet?</label>
        <select id="petType" name="pet-type">
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
          <option value="small-mammal">Small mammal (gerbils, hamsters, etc)</option>
          <option value="fish">Fish</option>
          <option value="rabbit">Rabbit</option>
          <option value="lizard">Lizard</option>
          <option value="bird">Bird</option>
          <option value="snake">Snake</option>
          <option value="horse">Horse</option>
          <option value="other">Other</option>
        <select>
    </div>
    <div class="group">
        <label for="petBreed">What breed?</label>
        <input type="text" id="petBreed" name="petBreed" ng-model="petFormData.breed"/>
    </div>
    <div class="group">
        <label for="petAge">How old?</label>
        <input type="text" id="petAge" name="petAge" />
    </div>
    <div class="group">
        <label for="petVet">Do you remember the last time they were at the vet?</label>
        <input type="date" id="petVet" name="petVet" ng-model="petFormData.last_vet_visit"/>
    </div>
    <div>
      <p class="count">7</p>
    </div>
    <div>
        <button id="btnNext" ng-click="nextQuestion()">Next</button>
    </div>
  <div>
    <button id="btnSubmit" type="submit">Submit</button>
  </div>

  <!--<pre>{{petFormData}}</pre>-->
</form>
