<h1 class="vet_form_header">New Reminder</h1>
<div class="container">
  <div class="six offset-by-three columns">
    <form id="new-reminder" ng-submit="newReminder()">
      <label for="reminder">What do you need to remember?</label>
      <input required id="reminder" type="text" placeholder="EX vaccination expiring, schedule next vet appointment" ng-model="reminderFormData.description">
      <label for="date">Date</label>
      <input required id="date" name="date" type="date" ng-model="reminderFormData.date">
      <label for="petName">Which Pet?</label>
      <select ng-options="pet as pet.name for pet in pets track by pet.id" ng-model="reminderFormData.pet_id"></select>
      <input id="submitReminder" type="submit" value="Add Reminder">
    </form>
    <a target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text=New+Reminder&dates=20140127T224000Z/20140320T221500Z&details=What+do+you+need+to+remember?&location=anywhere&sf=true&output=xml">Add to google calendar</a>
  </div>
</div>