<div class="container">
  <div class="row">
    <div class="four offset-by-four columns">
      <img class="vet-image"src="https://s3-media4.fl.yelpcdn.com/bphoto/K-0rDTlExkpF2WbSKiyz2Q/ls.jpg">
      <!-- Vet image -->
      <h4 class="reminderH1">Your Vet:</h4>
      <p class="vet-info">{{owner.vet_name}}</p>
      <p class="vet-info">{{owner.vet_address}}</p>
      <p class="vet-info">{{owner.vet_city}}, {{owner.vet_state}}, {{owner.vet_zip}}</p>
    </div>
  </div>
  <div class="row">
    <div class="six offset-by-three columns underline">
      <a ng-href="/#/profile/{{owner.id}}/reminders/new"><p class="addReminder">+</p></a>
    </div>
  </div>
  <div class="all-reminders">
  <div ng-repeat="reminder in reminders">
    <div class="row">
      <div class="one offset-by-three columns">
        <a ng-href="/#/{{user.id}}/reminders/{{reminder.id}}/edit"><i class="fa fa-pencil"></i></a>
      </div>
      <div class="five columns single_reminder">
        <p class="reminderCenter">{{reminder.description}}</p>
        <p class="reminderCenter">Date: {{reminder.date | date: yyyy-MM-dd}}</p>
      </div>
    </div>
  </div>
</div>
</div>

