<div class="container" ng-cloak>
<div class="pet-overview">
  <div class="row pet-info">
    <div class="four columns">
      <!-- pet image -->
      <div class="pet-image">
          <img ng-src="{{pet.picture_url}}">
      </div>
    </div>
    <div class="eight columns">
      <div class="general-info">
        <p>Pet Name: {{pet.name}}</p>
        <p>Nick Names</p>
        <p>Type: {{pet.type}}</p>
        <p>Age</p>
      </div>
    </div>
  </div>
  </div>
  <div class="tab-display">
    <div class="tabs">
      <div class="tab">
        <input type="radio" id="tab-1" name="tab-group-1" checked>
        <label for="tab-1">Health</label>
        <div class="content">
             <p>Weight: </p>
             <p>Allergies: </p>
             <p>Breed: {{pet.breed}}</p>
             <p>Illnesses: </p>
             <p>Last Vet Visit: {{pet.last_vet_visit}}</p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="tab-2" name="tab-group-1">
        <label for="tab-2">About</label>
        <div class="content">
          <p>Likes: </p>
          <p>Does not like: </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="tab-3" name="tab-group-1">
        <label for="tab-3">Products</label>
        <div class="content">
          <p>Pet Food: </p>
         </div>
     </div>
     <div class="tab">
        <input type="radio" id="tab-4" name="tab-group-1">
        <label for="tab-4">Notes</label>
        <div class="content">
        </div>
     </div>
    </div>
    </div>
