<nav class="single-pet-nav">
  <a href="/#/profile/{{userExist}}/pet/{{pet.id}}">General Pet Information</a>
  <a href="/#/profile/{{userExist}}/pet/{{pet.id}}/vetvisits/{{pet.id}}">Vet Visits</a>
</nav>
<div class="container" ng-cloak>
<div class="pet-overview">
  <div class="row pet-info">
    <div class="four columns">
      <!-- pet image -->
      <div class="pet-image">
          <img ng-src="{{pet.picture_url}}">
      </div>
    </div>
    <div class="eight columns">
      <div class="general-info">
        <p class="top-info"><span class="top-info-bold">Pet Name:</span> {{pet.name}}</p>
        <p class="top-info"><span class="top-info-bold">Type:</span> {{pet.type}}</p>
        <p class="top-info"><span class="top-info-bold">Breed:</span> {{pet.breed}}</p>
        <p class="top-info"><span class="top-info-bold">Age:</span> {{pet.age}}</p>
      </div>
    </div>
  </div>
  </div>
  <a class="edit-pet" href="/#/profile/{{userExist}}/pet/{{pet.id}}/edit"><i class="fa fa-pencil"></i></a>
  <div class="tab-display">
    <div class="tabs">
      <div class="tab">
        <input type="radio" id="tab-1" name="tab-group-1" checked>
        <label for="tab-1">Health</label>
        <div class="content">
             <p>Weight: {{pet.weight}}</p>
             <p>Allergies: {{pet.allergies}}</p>
             <p>Illnesses: {{pet.illnesses}}</p>
             <p>Last Vet Visit: {{pet.last_vet_visit | date: yyyy-MM-dd}}</p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="tab-2" name="tab-group-1">
        <label for="tab-2">About</label>
        <div class="content">
          <p>Likes: {{pet.likes}}</p>
          <p>Does not like: {{pet.dislikes}}</p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="tab-3" name="tab-group-1">
        <label for="tab-3">Products</label>
        <div class="content">
          <p></p>
         </div>
     </div>
     <div class="tab">
        <input type="radio" id="tab-4" name="tab-group-1">
        <label for="tab-4">Notes</label>
        <div class="content">
        </div>
     </div>
    </div>
    </div>
