			<h1>Update Pet</h1>
			<form id="pet-form" ng-submit="updatePet()" ng-cloak>
				<div class="twelve columns">
					<label for="name">Name</label>
					<input id="name" ng-value="pet.name" type="text" ng-model="petFormData.name">
				</div>

				<div class="twelve columns">
					<label for="picture_url">Picture Url</label>
					<input id="picture_url" ng-value="pet.picture_url" type="text" placeholder="Starts with http://" ng-model="petFormData.picture_url">
				</div>

				<div class="twelve columns" id="type-div">
					<label for="petType">Type of Pet</label>
					<select id="petType" ng-model="petFormData.type">
						<option ng-value="pet.type" selected>Current: {{pet.type}}</option>
	          <option value="dog">Dog</option>
	          <option value="cat">Cat</option>
	          <option value="small-mammal">Small mammal (gerbils, hamsters, etc)</option>
	          <option value="fish">Fish</option>
	          <option value="rabbit">Rabbit</option>
	          <option value="lizard">Lizard</option>
	          <option value="bird">Bird</option>
	          <option value="snake">Snake</option>
	          <option value="horse">Horse</option>
	          <option value="other">Other</option>
        <select>
				</div>

				<div class="six columns" id="breed-div">
					<label for="breed">Breed</label>
					<input id="breed" type="text" ng-value="pet.breed" ng-model="petFormData.breed">
				</div>

				<div class="six columns" id="weight-div">
					<label for="weight">Weight</label>
					<input id="weight" type="number" ng-value="pet.weight" ng-model="petFormData.weight">
				</div>

				<div class="six columns" id="allergy-div">
					<label for="allergies">Allergies</label>
					<input id="allergies" type="text" placeholder="EX: Chocolate, Daffodils" ng-value="pet.allergies" ng-model="petFormData.allergies">
				</div>

				<div class="six columns" id="illnesses-div">
					<label for="illnesses">Illnesses</label>
					<input id="illnesses" type="text" ng-value="pet.illnesses" ng-model="petFormData.illnesses">
				</div>

				<div class="twelve columns" id="last_vet_visit-div">
					<label for="last_vet_visit">Last Vet Visit</label>
					<input class="button" id="last_vet_visit" type="date" placeholder="Pet's last vet visit" ng-value="pet.last_vet_visit | date: 'yyyy-MM-dd'" ng-model="petFormData.last_vet_visit">
				</div>

				<div class="twelve columns">
					<label for="tendencies">Doesn't Like</label>
					<input id="tendencies" type="text" placeholder="EX: Other animals, baseball caps" ng-value="pet.dislikes" ng-model="petFormData.dislikes">
				</div>

				<div class="twelve columns">
					<label for="favorites">Likes</label>
					<input id="favorites" type="text" placeholder="Pet's Likes" ng-value="pet.likes" ng-model="pet.likes">
				</div>

				<!-- <div class="twelve columns">
					<label for="products">Products</label>
					<input id="products" type="text" placeholder="EX: Food Brand, Litter Brand, etc.">
				</div> -->

				<div class="twelve columns">
					<button type="submit">Update Pet</button>
					<a href="/#/profile/{{userExist}}/{{pet.id}}"><input id="cancel" type="button" value="Cancel"></a>
					<a href="/#/profile/{{userExist}}/pets/main" ng-click="removePet()"><input id="delete" value="DELETE" type="button"></a><br>
				</div>
			</form>
