			<form id="pet-form" action="/api/" method="post">

				<div class="twelve columns">
					<label for="name">Name</label>
					<input id="name" name="name" type="text" placeholder="Pet's Name">
				</div>

				<div class="twelve columns">
					<label for="picture_url">Picture Url</label>
					<input id="picture_url" name="picture_url" type="text" placeholder="www.yourpetspicture.com">
				</div>

				<div class="six columns" id="type-div">
					<label for="type">Type of Pet</label>
					<input id="type" name="type" type="text" placeholder="What type of animal is your pet?">
				</div>

				<div class="six columns" id="breed-div">
					<label for="breed">Breed</label>
					<input id="breed" name="breed" type="email" placeholder="What breed is your pet?">
				</div>

				<div class="six columns" id="weight-div">
					<label for="weight">Weight</label>
					<input id="weight" name="weight" type="number" placeholder="Pet's Weight">
				</div>

				<div class="six columns" id="allergy-div">
					<label for="allergies">Allergies</label>
					<input id="allergies" name="allergies" type="text" placeholder="Pet's Allergies">
				</div>

				<div class="six columns" id="illnesses-div">
					<label for="illnesses">Illnesses</label>
					<input id="illnesses" name="illnesses" type="text" placeholder="Pet's Illnesses">
				</div>

				<div class="six columns" id="last_vet_visit-div">
					<label for="last_vet_visit">Last Vet Visit</label>
					<input class="button" id="last_vet_visit" name="last_vet_visit" type="date" placeholder="Pet's last vet visit">
				</div>

				<div class="twelve columns">
					<label for="tendencies">Doesn't Like</label>
					<input id="tendencies" name="tendencies" type="text" placeholder="My pet doesn't like">
				</div>

				<div class="twelve columns">
					<label for="favorites">Favorites</label>
					<input id="favorites" name="favorites" type="text" placeholder="Pet's Favorites">
				</div>

				<div class="twelve columns">
					<input id="update" type="submit" value="Update">
					<a href="/#/api/profile/id/pet_id"><input id="cancel" type="button" value="Cancel"></a><br>
				</div>
					<!-- need to check href's -->
			</form>
