<nav class="single-pet-nav">
  <a href="">General Pet Information</a>
  <a href="">Vet Visits</a>
</nav>
<h1 class="h1vet-visit">Vet Visits</h1>
<a class="add" href="">+ Add Visit</a>
<div class="container">
  <div class="row">
    <a href="">
      <div class="eight offset-by-two columns summary">
        <h2>Visit Summary</h2>
        <p>Date: </p>
        <p class="leftFloat">Vacc, Checkup</p>
        <p class="expand">+</p>
      </div>
    </a>
  </div>
  <div class="row">
    <a href="">
      <div class="eight offset-by-two columns summary">
        <h2>Visit Summary</h2>
        <p>Date: </p>
        <p class="leftFloat">Vacc, Checkup</p>
        <p class="expand">+</p>
      </div>
    </a>
  </div>
  <div class="row">
    <a href="">
      <div class="eight offset-by-two columns summary">
        <h2>Visit Summary</h2>
        <p>Date: </p>
        <p class="leftFloat">Vacc, Checkup</p>
        <p class="expand">+</p>
      </div>
    </a>
  </div>
</div>