<nav class="single-pet-nav">
  <a ng-href="/#/profile/{{owner}}/pet/{{pet.id}}">General Pet Information</a>
  <a ng-href="/#/profile/{{userExist}}/pet/{{pet.id}}/vetvisits">Vet Visits</a>
</nav>
<h1 class="vet-visit">Vet Visits</h1>
<a class="add" ng-href="/#/profile/{{owner}}/pet/{{pet}}/vetvisit/new">+ Add Visit</a>
<div class="container">
  <div ng-repeat="visit in vetVisits">
  <div class="row">
    <a ng-href="/#/profile/{{owner}}/pet/{{pet}}/vetvisit/{{visit.id}}/edit">
      <div class="eight offset-by-two columns summary">
        <h2>Visit Summary</h2>
        <p class="details"><span class="visit-title">Visit Date:</span> {{visit.visit_date | date: yyyy-MM-dd}} </p>
        <p class="details"><span class="visit-title">Vaccines:</span> {{visit.vaccines}}</p>
        <p class="details"><span class="visit-title">Visit Notes:</span> {{visit.personal_notes}}</p>
      </div>
    </a>
  </div>
  </div>
</div>
